@font-face {
	font-family: 'Moon';
	src: url('fonts/Moon_Light.otf') format('opentype');
}

@font-face {
	font-family: 'Moon';
	font-weight: bold;
	src: url('fonts/Moon_Bold.otf') format('opentype');
}

html,body { 
	height: 100%; 
	overflow: hidden;
	background: #000;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

canvas { 
	position: relative;
}

a { 
	color: #D8D8D8; 
	text-decoration: none; 
	transition: 0.3s; 
}

a:hover, a:focus { 
	color: rgb(164, 163, 163); 
}

.mainContent { 
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%); 
	padding: 20px; 
	font-family: 'Moon', sans-serif; 
	text-align: center; 
	right: 500px;
	left: 500px;
}

.canvasContent { 
	position: absolute; 
}

.name { 
	font-size: 30px; 
	color: #D8D8D8;
	text-shadow:1px 1px 15px #000;
}

.bShelf { 
	font-size: 12px; 
	font-weight: bold; 
	color: #D8D8D8; 
	text-shadow:1px 1px 15px #000;
}

.bShelf a { 
	margin: 0 10px; 
}

.bShelf .fa { 
	margin: 0 2px; 
	font-size: 16px; 
	transition: 0.3s; 
}

.bShelf a:hover .fa-snapchat-ghost { 
	transition: 0.3s; 
	color: #FFFC00; 
}

.bShelf a:hover .fa-github { 
	transition: 0.3s; 
	color: #4078c0; 
}

.bShelf a:hover .fa-instagram { 
	transition: 0.3s; 
	color: #833ab4; 
}

.bShelf a:hover .fa-envelope { 
	transition: 0.3s; 
	color: #fd9800; 
}

@media (max-width: 1000px) {
	.mainContent { right: auto; left: 21%;}
}

@media (max-width: 950px) {
	.mainContent { right: auto; left: 20%;}
}

@media (max-width: 900px) {
	.mainContent { right: auto; left: 19%;}
}

@media (max-width: 850px) {
	.name { font-size: 20px; }
	.name nobr { display: block; }
	.bShelf { margin-top: 10px; }
	.bShelf a { display: block; margin: 30px 0 0 10px; }
	.mainContent { right: auto; left: 33%;}
}

@media (max-width: 800px) {
	.name { font-size: 20px; }
	.name nobr { display: block; }
	.bShelf { margin-top: 10px; }
	.bShelf a { display: block; margin: 30px 0 0 10px; }
	.mainContent { right: auto; left: 32%;}
}

@media (max-width: 750px) {
	.mainContent { right: auto; left: 32%;}
}

@media (max-width: 700px) {
	.mainContent { right: auto; left: 30%;}
}

@media (max-width: 650px) {
	.mainContent { right: auto; left: 28%;}
}

@media (max-width: 600px) {
	.mainContent { right: auto; left: 27%;}
}

@media (max-width: 550px) {
	.name { font-size: 20px; }
	.name nobr { display: block; }
	.bShelf { margin-top: 10px; }
	.bShelf a { display: block; margin: 30px 0 0 10px; }
	.mainContent { right: auto; left: 25%;}
}

@media (max-width: 500px) {
	.mainContent { right: auto; left: 23%;}
}

@media (max-width: 450px) {
	.mainContent { right: auto; left: 20%;}
}

@media (max-width: 400px) {
	.mainContent { right: auto; left: 15%;}
}

@media (max-width: 350px) {
	.mainContent { right: auto; left: 10%;}
}

@media (max-width: 300px) {
	.mainContent { right: auto; left: 4%;}
}

@media (max-width: 250px) {
	.mainContent { right: auto; left: 2%;}
}

@media (max-width: 200px) {
	.name { font-size: 15px;}
	.mainContent { right: auto; left: 1%;}
}
