@font-face {
    font-family: 'Moon';
    src: url('fonts/Moon_Light.otf') format('opentype');
}
@font-face {
    font-family: 'Moon';
    font-weight: bold;
    src: url('fonts/Moon_Bold.otf') format('opentype');
}
html,body { 
	height: 100%; 
	overflow: hidden;
	background: #000;
}

canvas { 
	height: 100%; 
}

a { 
	color: #D8D8D8; 
	text-decoration: none; 
	transition: 0.3s; 
}
a:hover, a:focus { 
	color: rgb(164, 163, 163); 
}
.mainContent { 
	position: absolute; 
	top: 50%; 
	transform: translateY(-50%); 
	padding: 20px; 
	font-family: 'Moon', sans-serif; 
	text-align: center; 
	right: 500px;
	left: 500px;
}
.canvasContent { 
	position: absolute; 
}

.name { 
	font-size: 30px; 
	color: #D8D8D8;
}
.bShelf { 
	font-size: 12px; 
	font-weight: bold; 
	color: #D8D8D8; 
}
.bShelf a { 
	margin: 0 10px; 
}
.bShelf .fa { 
	margin: 0 2px; 
	font-size: 16px; 
	transition: 0.3s; 
}
.bShelf a:hover .fa-snapchat-ghost { 
	transition: 0.3s; 
	color: #FFFC00; 
}
.bShelf a:hover .fa-github { 
	transition: 0.3s; 
	color: #4078c0; 
}
.bShelf a:hover .fa-instagram { 
	transition: 0.3s; 
	color: #833ab4; 
}
.bShelf a:hover .fa-envelope { 
	transition: 0.3s; 
	color: #fd9800; 
}

@media (max-width: 700px) {
    .name { font-size: 20px; }
    .name nobr { display: block; }
    .bShelf { margin-top: 60px; }
    .bShelf a { display: block; margin: 30px 0 0 10px; }
}